
body {
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  scroll-behavior: smooth; 
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}
p{
  font-size: 30mm;
}