
body {
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  scroll-behavior: smooth; 
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}
h1{
  font-size: xx-large
}
.btn-danger:hover{
  background-color: blue;
  transform: (1.05);
}